button {
    margin: 0;
}

.custom-btn {
    width: 10rem;
    height: 3rem;
    padding: 10px 25px;
    border: 0px solid #000;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

/* 15 */
.btn-15,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    font-family: "Poppins", sans-serif;
    margin-top: 2em;
    background: yellow;
    color: #000;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
}
.btn-15:hover {
    background-color: #3d2174;
    color: #fff;
}
.btn-15:hover:after {
    left: 0;
    width: 100%;
}
.btn-15:active {
    top: 2px;
}

/* black */
.btn-17 {
    position: relative;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: yellow;
}

.btn-16 {
    margin-top: 2em;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    z-index: 1;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: yellow;
    transition: all 0.3s ease;
}
.btn-16:hover {
    color: #000;
}
.btn-16:hover:after {
    left: 0;
    width: 100%;
}
.btn-16:active {
    top: 2px;
}

/* img zoom */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.5);
}

@media only screen and (min-width: 1700px) {
    .btn-17 {
        position: relative;
        margin-left: 5rem;
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1699px) {
    .btn-17 {
        position: relative;
        margin-left: 4rem;
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1399px) {
    .btn-17 {
        position: relative;
        margin-left: 3rem;
        margin-top: 1rem;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1099px) {
    .btn-17 {
        position: relative;
        margin-left: 2.4rem;
        margin-top: 1rem;
    }
}
