* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.highlight {
    width: 92%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.reviewstext {
    margin-top: 2rem;
}

.featured {
    width: 300px;
    margin-bottom: 1rem;
    justify-content: center;
}

.featured h2 {
    color: #f6cf41;
    transform: translateX(15px);
    font-size: 18px;
}

.top_picks {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 300px;
}

.top_picks:first-of-type {
    margin-top: 6rem;
}

.top_picks h2 {
    transform: translateX(15px);
    color: #f6cf41;
    font-size: 18px;
}

.highlight .highlight_item {
    height: auto;
    width: auto;
    max-width: 350px;
    margin: 0 1rem;
}

.highlight .highlight_item img {
    border-top: solid 2px rgba(20, 16, 26, 0.6);
    border-bottom: solid 2px rgba(20, 16, 26, 0.6);
}

.movie_Showcase {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.movie_Showcase .showcase_item {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0 8px;
}

.movie_Showcase .showcase_item img {
    border-top: solid 2px rgba(20, 16, 26, 0.6);
    height: 300px;
    max-width: 250px;
    object-fit: cover;
}

.movie_Showcase .showcase_item p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    transform: translateY(53px);
}

.movie_Showcase .showcase_item .button_border .button_border_title {
    text-align: center;
    width: 100%;
}

.movie_Showcase .showcase_item .button_border .button_border_title p {
    width: 250px;
    position: absolute;
    transform: translateY(15px);
}

.movie_Showcase .showcase_item .button_border {
    background: #131019;
    height: 200px;
    margin-bottom: 2rem;
    width: 250px;
}

.movie_Showcase .showcase_item .button_border .rating {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    top: 25px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.movie_Showcase .showcase_item .button_border i {
    color: #f6cf41;
    position: relative;
    transform: translateY(55px) translateX(-2px);
    margin-right: 4px;
}

.movie_Showcase .showcase_item button {
    display: inline-block;
    color: white;
    margin: 0 auto;
    font-size: 16px;
    background-color: #000000a9;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    position: absolute;
    transform: translateY(8.5rem) translateX(50px);
}

.movie_Showcase .showcase_item button:hover {
    color: #f6cf41;
}

/* 3 picture showcase media querries */

@media only screen and (max-width: 1500px) {
    .highlight .highlight_item {
        width: 250px;
        height: auto;
        margin: 0 10px;
    }
}

/* 6 pictures showcase media querries */

@media only screen and (max-width: 1799px) and (min-width: 1501px) {
    .movie_Showcase .showcase_item img {
        height: 250px;
        width: 200px;
    }
    .movie_Showcase .showcase_item .button_border {
        width: 200px;
    }
    .movie_Showcase .showcase_item .button_border .button_border_title p {
        width: 200px;
    }
    .movie_Showcase .showcase_item button {
        transform: translateY(8.5rem) translateX(25px);
    }
}

@media only screen and (max-width: 1500px) {
    .movie_Showcase .showcase_item img {
        height: auto;
        width: auto;
    }
    .movie_Showcase {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1091px) {
    .movie_Showcase .showcase_item p {
        font-size: 16px;
    }
    .movie_Showcase .showcase_item button {
        font-size: 16px;
    }
    .movie_Showcase {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1800px) {
    .movie_Showcase .showcase_item img {
        width: 300px;
    }
}

.genre_Showcase {
    flex-wrap: wrap;
}
