.watchlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.watchlist-item img {
    width: auto;
    max-height: 350px;
}

.watchlist .highlight_item {
    height: auto;
    width: auto;
    max-width: 600px;
    margin: 0 10px;
}
.watchlist .highlight_item .button_border {
    background: rgba(20, 16, 26, 0.6);
    height: 150px;
    margin-bottom: 2rem;
}

.watchlist .highlight_item .button_border .rating {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    top: 25px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.watchlist .highlight_item .button_border i {
    color: #f6cf41;
    position: relative;
    transform: translateY(15px);
    margin-right: 4px;
}

.watchlist .highlight_item button {
    display: flex;
    color: white;
    margin: 0 auto;
    font-size: 16px;
    background-color: #000000a9;
    width: 80%;
    justify-content: center;
    transform: translateY(60px);
}

.watchlist .highlight_item button:hover {
    color: #f6cf41;
}

.watchlist .highlight_item p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    transform: translateY(15px);
}

/*  Added by Jonny*/

.movie_Showcase2 {
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 3em;
}

.input-watchlist {
    padding-top: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    width: 55%;
    border: 1px solid #991122;
    padding: 0.5em;
    box-sizing: border-box;
}

.add-list {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 300px;
    color: #f6cf41;
    font-size: 18px;
}

.watchlist-head {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    background-color: rgb(46, 7, 65);
    height: 2em;
    color: white;
    z-index: 99;
    padding-left: 1em;
    align-content: center;
    display: flex;
    text-align: center;
}

.watchlist-item {
    display: flex;
    flex-direction: column;

    align-content: flex-start;
    justify-content: center;
    text-align: center;
    width: 10%;

    color: rgb(255, 255, 255);
    margin: 0 8px;
}

.watchlist-img {
    height: 15em;
}

.deleteBtn {
    margin-top: 1em;
    background-color: crimson !important;
    padding: 0.5em;
    font-size: 0.8em;
}

.deleteBtn:hover {
    margin-top: 1em;

    background-color: rgb(221, 44, 80) !important;
    padding: 0.5em;
    color: rgb(238, 217, 25);
}

.deleteBtn2 {
    background-color: #f6cf41 !important;
    padding: 0.5em;
    font-size: 0.8em;
    margin-left: 1em;
    align-items: center;
}

.deleteBtn2:hover {
    background-color: rgb(221, 44, 80) !important;
    padding: 0.5em;
    font-size: 0.8em;
    color: rgb(37, 37, 34);
}

.createBtn {
    margin-top: 0.5em;
    background-color: rgb(220, 241, 25) !important;
    padding: 0.5em;
    font-size: 0.8em;
    margin-left: 1em;
}

.createBtn:hover {
    margin-top: 0.5em;
    background-color: rgb(228, 190, 22) !important;
    padding: 0.5em;
    font-size: 0.8em;
    color: rgb(29, 29, 28);
}

.top_picks form {
    margin-left: 10px;
}

.watchlist-flex {
    margin: 8rem auto 18rem auto;
}

/*  Added by Jonny*/

/* 6 pictures showcase media querries */

@media only screen and (max-width: 1001px) {
    .watchlist .highlight_item p {
        font-size: 14px;
    }
    .watchlist .highlight_item button {
        font-size: 14px;
    }
}
